* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #e1ebee;
  color: #333;

}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #7587cb;
  border-radius: 15px;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  padding: 20px 0;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавление тени для контраста */
}

nav {
  margin-top: 15px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background: #454e75
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s; /* Добавление анимации */
}

.menu li a:hover {
  background-color: #2c324b;
  transform: scale(1.1); /* Увеличение при наведении */
}

.content {
  padding: 50px 0;
  text-align: left;
  animation: fadeIn 1s ease-in-out; /* Анимация появления */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #454e75; /* Цвет заголовка */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.content p {
  background: rgba(69, 78, 117, 0.8); /* Полупрозрачный фон для текста */
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.3em;
  line-height: 1.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для текста */
}
.content h3{
  text-align: left;
  font-size: 1.7em;
  margin-bottom: 20px;
  color: #454e75;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для списка */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul li {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #454e75;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 5px solid #7587cb; /* Добавление цветной линии сверху */
}

footer p {
  margin: 0;
  font-size: 0.9em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.join-button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 1.2em;
  color: white;
  background-color: #7587cb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.join-button:hover {
  background-color: #2c324b;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 10px 0;
  }
}
/* О НАС */
.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.team-member {
  width: 30%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

.team-member h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #454e75;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.team-member p {
  font-size: 1.1em;
  color: white;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .team {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 80%;
  }
}

/* КУРСЫ */
.course-section {
  margin-bottom: 40px;
}

.course-section h3 {
  font-size: 1.7em;
  margin-bottom: 20px;
  color: #454e75;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #7587cb;
  padding-bottom: 10px;
}

.course-section ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.course-section ul li {
  margin-bottom: 15px;
  font-size: 1.3em;
  color: #454e75;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px;
  border-radius: 5px;
}

.course-section ul li:hover {
  background-color: #e1ebee;
  transform: scale(1.03);
}

.course-section ul li a {
  text-decoration: none;
  color: #454e75;
  display: flex;
  align-items: center;
  width: 100%;
}

.course-icon {
  font-size: 1.5em;
  margin-right: 15px;
  color: #7587cb;
}

/* Общие стили для текстовых блоков */
.simple-text-block, .important-text-block {
  background: rgba(50, 186, 180, 0.2);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Стили для простого текстового блока */
.simple-text-block p {
  font-size: 1.3em;
  line-height: 1.8;
  color: white;
  padding: 10px;
  border-left: 5px solid #7587cb; /* Добавление цветной линии слева */
}

/* Стили для важного текстового блока */
.important-text-block {
  background: rgba(102, 50, 186, 0.3);
  color: #333;
  font-weight: bold;
}

.important-text-block p {
  font-size: 1.3em;
  line-height: 1.8;
  color: #333;
  padding: 10px;
  border-left: 5px solid #ff6347; /* Добавление цветной линии слева */
  background: rgba(255, 255, 255, 0.9); /* Добавление полупрозрачного фона для текста */
  border-radius: 5px;
}

/* Стили для блока изображения */
.image-block {
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%; /* Ограничение максимальной ширины */
  margin-left: auto;
  margin-right: auto;
}

.image-block img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-block:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-block.full-screen {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-block.full-screen img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0;
}

/* Стили для навигации по темам */
.topic-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
}

.topic-navigation button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #7587cb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}


.test-component {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

.test-question h3, .test-results h3 {
  margin-bottom: 20px;
  font-size: 1.7em;
  color: #454e75;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.question-info {
  text-align: right;
  font-size: 1.2em;
  color: #454e75;
  margin-bottom: 10px;
}

.options button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1.3em;
  color: #454e75;
}

.options button:hover {
  background-color: #e1ebee;
  transform: scale(1.03);
}

.options button.selected {
  background-color: #b3e5fc;
  border-color: #81d4fa;
}

.options button.correct {
  background-color: #4caf50;
  color: white;
}

.options button.incorrect {
  background-color: #f44336;
  color: white;
}

.test-results {
  text-align: center;
}

.test-results p {
  font-size: 1.3em;
  color: #454e75;
  margin-bottom: 20px;
}

.test-results button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #7587cb;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1.2em;
}

.test-results button:hover {
  background-color: #2c324b;
  transform: scale(1.1);
}

.correct-answers {
  margin-top: 20px;
  text-align: left;
}

.correct-answers h4 {
  font-size: 1.5em;
  color: #454e75;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.correct-answers ul {
  list-style-type: none;
  padding: 0;
}

.correct-answers li {
  margin: 10px 0;
  font-size: 1.3em;
  color: #454e75;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для важного текста */
.important-text {
  background: rgba(255, 165, 0, 0.2); /* Оранжевый полупрозрачный фон */
  border-left: 5px solid #ff6347; /* Оранжевая линия слева */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-size: 1.3em;
  line-height: 1.8;
  color: #333;
  font-weight: bold;
}

/* Стили для списков */
.styled-list {
  list-style-type: disc;
  padding-left: 40px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для списка */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-list li {
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #454e75;
  padding-left: 10px;
  border-left: 3px solid #7587cb; /* Синяя линия слева */
}

/* Стили для нумерованных списков */
.styled-ordered-list {
  list-style-type: decimal;
  padding-left: 40px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для списка */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-ordered-list li {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #454e75;
  padding-left: 10px;
  border-left: 3px solid #7587cb; /* Синяя линия слева */
}

/* Стили для блока с изображением */
.image-block {
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%; /* Ограничение максимальной ширины */
  margin-left: auto;
  margin-right: auto;
}

.image-block img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-block:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.image-block.full-screen img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0;
}